<section class="about-us">
  <div class="container">
    <h2 class="about-us-title">about-us</h2>
    <p class="about-us-text">We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment</p>
    <div class="about-us-container">
      <ul class="about-us-list">
        <li class="about-us-list-item">
          <h3 class="about-us-list-item-title">01</h3>
          <p class="about-us-list-item-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-us-list-item">
          <h3 class="about-us-list-item-title">02</h3>
          <p class="about-us-list-item-text">Wide range of course levels and options</p>
        </li>
        <li class="about-us-list-item">
          <h3 class="about-us-list-item-title">03</h3>
          <p class="about-us-list-item-text">Multicultural learning environment</p>
        </li>
        <li class="about-us-list-item">
          <h3 class="about-us-list-item-title">04</h3>
          <p class="about-us-list-item-text">Comprehensive language support services</p>
        </li>
      </ul>
      <div class="about-us-container-girl">
        <img class="girl-img"
        src="../img/about-us/memoji.png"
        alt="girl"
        width="254">
      </div>
    </div>
  </div>
</section>
