<section class="about-us">
  <div class="container">
    <div class="about-us-title-container">
      <h2 class="about-us-title">
        About<span class="about-us-title-marker">Us</span>
      </h2>
      <p class="about-us-text">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="about-us-container">
      <ol class="about-us-list">
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Expert, innovative teaching staff
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Wide range of course levels and options
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Multicultural learning environment
          </p>
        </li>
        <li class="about-us-list-item">
          <p class="about-us-list-item-text">
            Comprehensive language support services
          </p>
        </li>
      </ol>
      <div class="about-us-container-girl">
        <img
          class="girl-img"
          src="../img/about-us/memoji.png"
          alt="girl"
          width="254"
        />
      </div>
    </div>
  </div>
</section>
