<header class="container header">
    <div class="row-header">
        <a class="logo" href="./index.html"> english<span class="logo-accent">excellence</span>.</a>
        <nav class="page-nav">
            <ul class="nav-header-list">
                <li class="nav-header-item">
                    <a class="nav-header-link activ text-medium" href="#">About us</a>
                </li>
                <li class="nav-header-item">
                    <a class="nav-header-link text-medium" href="#">Our lessons</a>
                </li>
                <li class="nav-header-item">
                    <a class="nav-header-link text-medium" href="#">Teachers</a>
                </li>
                <li class="nav-header-item">
                    <a class="nav-header-link text-medium" href="#">Reviews</a>
                </li>
                <li class="nav-header-item">
                    <a class="nav-header-link text-medium" href="#">Contact us</a>
                </li>
            </ul>
        </nav>

        <ul class="social-link-list-header">
            <li class="social-link-item-header">
                <a class="social-link-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="icon-social-header" width="28" height="28">
                        <use href="./img/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-link-item-header">
                <a class="social-link-link" href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg class="icon-social-header" width="28" height="28">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-link-item-header">
                <a class="social-link-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg class="icon-social-header" width="28" height="28">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <button class="burger-menu-btn" aria-label="open burger menu">
            <svg class="burger-menu-btn-icon menu-burger-small" width="32" height="32">
                <use href="./img/icons.svg#icon-burger-menu-small"></use>
            </svg>
            <svg class="burger-menu-btn-icon menu-burger-big" width="40" height="28">
              <use href="./img/icons.svg#icon-burger-menu-big"></use>
            </svg>
        </button>


        <!-- Burger menu -->
        <div class="burger-menu is-closed">
            <div class="burger-menu-wrap">
                <button class="menu-close-btn" aria-label="menu close button">
                    <svg class="menu-close-btn-icon menu-close-small" width="32" height="32">
                        <use href="./img/icons.svg#icon-close-small"></use>
                    </svg>
                    <svg class="menu-close-btn-icon menu-close-big" width="40" height="40">
                        <use href="./img/icons.svg#icon-close-big"></use>
                    </svg>
                </button>
                <nav class="burger-menu-nav">
                    <ul class="nav-burger-menu-list">
                        <li class="nav-burger-menu-item">
                            <a class="nav-burger-menu-link" href="./index.html">About us</a>
                        </li>
                        <li class="nav-burger-menu-item">
                            <a class="nav-burger-menu-link" href="#">Our lessons</a>
                        </li>
                        <li class="nav-burger-menu-item">
                            <a class="nav-burger-menu-link" href="#">Teachers</a>
                        </li>
                        <li class="nav-burger-menu-item">
                            <a class="nav-burger-menu-link" href="#">Reviews</a>
                        </li>
                        <li class="nav-burger-menu-item">
                            <a class="nav-burger-menu-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </nav>

                <div class="burger-menu-social-links">
                    <ul class="social-link-list-burger-menu">
                        <li class="social-link-item-burger-menu">
                            <a class="social-link-burger-menu" href="https://www.facebook.com/goITclub/" target="_blank">
                                <svg class="icon-social-burger-menu" width="28" height="28">
                                    <use href="./img/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-link-item-burger-menu">
                            <a class="social-link-burger-menu" href="https://www.instagram.com/goitclub/" target="_blank">
                                <svg class="icon-social-burger-menu" width="28" height="28">
                                    <use href="./img/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-link-item-burger-menu">
                            <a class="social-link-burger-menu" href="https://www.youtube.com/c/GoIT" target="_blank">
                                <svg class="icon-social-burger-menu" width="28" height="28">
                                    <use href="./img/icons.svg#icon-youtube"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>