<section class="hero" id="hero">
  <div class="container">
    <div class="hero-background">
      <h1 class="hero-title">
        Discover the joy of learning <span>English</span> with us!
      </h1>
      <a href="#leave-app" class="hero-button">Leave an application</a>
      <a href="#footer" class="scroll-down-button">
        <svg width="20" height="20" fill="currentColor">
          <use href="./img/icons.svg#icon-arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
