<section class="our-teachers" id="our-teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <span class="section-title-marker">teachers</span>
    </h2>

    <p class="about">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul our-teachers-list>
      <li class="our-teachers-item">
        <img
          src="../img/our-teachers/"
          alt="teacher image"
          class="teacher-image"
        />
        <h2 class="teacher-name">Maria</h2>
        <p class="teacher-info">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="our-teachers-item">
        <img
          src="../img/our-teachers/"
          alt="teacher image"
          class="teacher-image"
        />
        <h2 class="teacher-name">Artem</h2>
        <p class="teacher-info">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="our-teachers-item">
        <img
          src="../img/our-teachers/"
          alt="teacher image"
          class="teacher-image"
        />
        <h2 class="teacher-name">Ilona</h2>
        <p class="teacher-info">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="our-teachers-item">
        <img
          src="../img/our-teachers/"
          alt="teacher image"
          class="teacher-image"
        />
        <h2 class="teacher-name">Volodymyr</h2>
        <p class="teacher-info">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
