<section class="proposal-app">
  <div class="container banner-container">
    <div class="banner-inner">
      <h1 class="banner-title">
        Master the <span class="title-accent">Language</span> with Our English
        Package!
      </h1>

      <div class="stacked-cards-wrapper">
        <div class="card">
          <div class="card-content">
            <h2 class="card-subtitle">Power of English</h2>

            <ul class="features-list">
              <li class="features-item">
                <div class="check-wrapper">
                  <svg class="icon-check" width="20" height="20">
                    <use href="/img/icons.svg#icon-check"></use>
                  </svg>
                </div>

                <p class="features-text">
                  Dive into captivating lessons designed to stimulate your
                  curiosity.
                </p>
              </li>
              <li class="features-item">
                <div class="check-wrapper">
                  <svg class="icon-check" width="20" height="20">
                    <use href="/img/icons.svg#icon-check"></use>
                  </svg>
                </div>
                <p class="features-text">
                  Learn in a nurturing setting where every student's progress
                  matters.
                </p>
              </li>
              <li class="features-item">
                <div class="check-wrapper">
                  <svg class="icon-check" width="20" height="20">
                    <use href="/img/icons.svg#icon-check"></use>
                  </svg>
                </div>
                <p class="features-text">
                  Experience the satisfaction of real progress as your language
                  skills and confidence grow with every session.
                </p>
              </li>
            </ul>

            <a class="cta-button" href="#leave-app"> Leave an application </a>
          </div>

          <div class="card-image">
            <picture class="card-picture">
              <source
                srcset="
                  /img/proposal-app/stack_books_1x.webp 1x,
                  /img/proposal-app/stack_books_2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="/img/proposal-app/stack_books_1x.webp"
                alt="English books stack"
                width="214"
                height="263"
                loading="lazy"
                class="card-img"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
