<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews-head">
      <h2 class="section-title reviews-title">
        What our <span class="section-title-marker">students say</span>
      </h2>
      <p class="reviews-description">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="reviews-list">
      <li class="reviews-item">
        <div class="reviews-card-header">
          <img
            class="reviews-avatar"
            srcset="./img/reviews/student-1@2x.webp 2x"
            src="./img/reviews/student-1.webp"
            alt="Anna"
            width="50"
            height="50"
          />
          <div class="reviews-student-info">
            <p class="reviews-student-name">Anna</p>
            <p class="reviews-student-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-card-header">
          <img
            class="reviews-avatar"
            srcset="./img/reviews/student-2@2x.webp 2x"
            src="./img/reviews/student-2.webp"
            alt="Mykhailo"
            width="50"
            height="50"
          />
          <div class="reviews-student-info">
            <p class="reviews-student-name">Mykhailo</p>
            <p class="reviews-student-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <li class="reviews-item">
        <div class="reviews-card-header">
          <img
            class="reviews-avatar"
            srcset="./img/reviews/student-3@2x.webp 2x"
            src="./img/reviews/student-3.webp"
            alt="Victoria"
            width="50"
            height="50"
          />
          <div class="reviews-student-info">
            <p class="reviews-student-name">Victoria</p>
            <p class="reviews-student-role">Student</p>
          </div>
        </div>
        <p class="reviews-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
