.container {
  min-width: var(--breakpoint-mobile-min);
  max-width: var(--breakpoint-mobile-adaptive);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--breakpoint-tablet);
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: var(--breakpoint-desktop);
    padding-left: 64px;
    padding-right: 64px;
  }
}
