.hero {
  width: 100%;
}

.hero-background {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  padding-top: 425px;
  padding-bottom: 72px;
  padding-left: 20px;
  padding-right: 20px;

  background-image:
    url('../img/hero/hero-bg-mob@1x.jpg'),
    linear-gradient(
      95.97deg,
      rgba(0, 0, 0, 0.4) 36.36%,
      rgba(0, 0, 0, 0) 51.43%
    );
}

@media (min-resolution: 2x) {
  .hero-background {
    background-image:
      url('../img/hero/hero-bg-mob@2x.jpg'),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }
}

@media only screen and (min-width: 768px) {
  .hero-background {
    padding-top: 260px;
    padding-bottom: 295px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
    background-image:
      url('../img/hero/hero-bg-tablet@1x.jpg'),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }

  @media (min-resolution: 2x) {
    .hero-background {
      background-image:
        url('../img/hero/hero-bg-tablet@2x.jpg'),
        linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        );
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero-background {
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 164px;
    padding-bottom: 163px;
    background-image:
      url('../img/hero/hero-bg-desk@1x.jpg'),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }

  @media (min-resolution: 2x) {
    .hero-background {
      background-image:
        url('../img/hero/hero-bg-desk@2x.jpg'),
        linear-gradient(
          95.97deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        );
    }
  }
}

.hero-title {
  color: var(--white-background-color);
  max-width: 295px;
  color: var(--color-white);

  font-weight: var(--font-weight-bold);
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: 0%;
}

.hero-title span {
  color: var(--color-light-green);
}

@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 488px;

    font-size: 60px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 564px;
  }
}

.hero-button {
  color: var(--color-white);
  border: none;
  width: 100%;
  max-width: 295px;
  margin-top: 40px;
  padding: 14px;
  border-radius: 12px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0%;

  background-color: var(--color-green);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .hero-button {
    max-width: 306px;
    margin-top: 32px;
    padding: 16px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0%;
  }
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-green-active);
}

@media not (hover: hover) {
  .hero-button:active {
    background-color: var(--color-green-active);
  }
}

.scroll-down-button {
  position: absolute;
  bottom: 14px;
  right: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;

  border-radius: 50%;
  background-color: var(--color-white);
  color: var(--color-green);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .scroll-down-button {
    bottom: 32px;
    right: 32px;

    width: 48px;
    height: 48px;
  }

  .scroll-down-button svg {
    width: 24px;
    height: 24px;
  }
}

.scroll-down-button:hover,
.scroll-down-button:focus {
  background-color: var(--color-green);
  color: var(--color-white);
}

@media not (hover: hover) {
  .scroll-down-button:active {
    background-color: var(--color-green);
    color: var(--color-white);
  }
}
