.leave-app {
  padding: 40px 0;
}
.leave-title {
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  text-align: center;
}
.leave-title-app {
  position: relative;
}
.leave-title-app::after {
  content: '';
  position: absolute;
  left: -4px;
  bottom: 4px;
  width: calc(100% + 6px);
  height: 12px;
  border-radius: 10px;
  background-color: var(--color-light-green-2);
  z-index: -1;
}
.leave-text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  color: rgba(18, 20, 23, 0.8);
}
.leave-content {
  display: none;
}
.leave-content-number {
  margin-bottom: 8px;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white);
}
.leave-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
.leave-form {
  width: 100%;
}
.leave-form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}
.leave-form-input,
.leave-form-textarea {
  width: 100%;
  height: 50px;
  padding: 16px 18px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #121417;
  transition: var(--transition-main);
  transition-property: border-color;
}

.leave-form-input:hover,
.leave-form-input:focus,
.leave-form-textarea:hover,
.leave-form-textarea:focus {
  border-color: var(--color-green);
}

.leave-form-input:not(:placeholder-shown):invalid,
.leave-form-textarea:not(:placeholder-shown):invalid {
  border-color: #ff0479bd;
}
.leave-form-input:not(:placeholder-shown):valid,
.leave-form-textarea:not(:placeholder-shown):valid {
  border-color: var(--color-green);
}

.leave-form-input::placeholder,
.leave-form-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #121417;
}
.leave-form-textarea {
  height: 94px;
  resize: none;
}
.leave-radio-group {
  margin-bottom: 40px;
  border: none;
}
.leave-radio-group-title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
}
.leave-radio-group-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.leave-radio-group-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: -0.02em;
}
.leave-custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #12141733;
  border-radius: 50%;
  position: relative;
  transition:
    border-color var(--transition-main),
    background-color var(--transition-main);
}
.leave-custom-radio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-green);
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--transition-main);
}
.leave-radio-group-input:checked + .leave-custom-radio {
  border-color: var(--color-green);
}
.leave-radio-group-input:checked + .leave-custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}
.leave-radio-group-label:hover .leave-custom-radio,
.leave-radio-group-input:focus + .leave-custom-radio {
  border-color: var(--color-green);
}

.leave-form-btn {
  display: block;
  width: 100%;
  height: 52px;
  padding: 14px;
  margin: 0 auto 16px;
  border-radius: 12px;
  color: var(--color-white);
  background-color: var(--color-green);
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
  transition: background-color var(--transition-main);
}
.leave-form-btn:hover {
  background-color: var(--color-green-active);
}
.leave-form-text-privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(18, 20, 23, 0.5);
}
.leave-form-privacy-policy-link {
  text-decoration: underline;
}

/* tablet styles */

@media (min-width: 768px) {
  .leave-app {
    padding: 50px 0;
  }
  .leave-title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.2;
  }
  .leave-title-app::after {
    height: 20px;
    width: 100%;
    left: 2px;
    bottom: 0;
  }
  .leave-text {
    width: 586px;
    margin: 0 auto 64px;
    font-size: 18px;
    color: rgba(18, 20, 23, 0.5);
    text-align: center;
  }
  .leave-form {
    width: 500px;
    margin: 0 auto;
  }
  .leave-form-input-wrapper {
    margin-bottom: 32px;
  }
  .leave-form-input {
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
  .leave-form-input::placeholder,
  .leave-form-textarea::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }
  .leave-form-textarea {
    height: 104px;
  }
  .leave-radio-group {
    margin-bottom: 32px;
  }
  .leave-radio-group-title {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.2;
  }
  .leave-radio-group-input-wrapper {
    flex-direction: row;
    gap: 16px;
  }
  .leave-radio-group-label {
    font-size: 18px;
    line-height: 1.33;
  }
  .leave-custom-radio {
    width: 20px;
    height: 20px;
  }
  .leave-form-btn {
    height: 60px;
    font-size: 18px;
    line-height: 1.56;
  }
  .leave-form-text-privacy-policy {
    font-size: 14px;
    line-height: 1.7;
  }
}

/* desctop styles */

@media (min-width: 1280px) {
  .leave-app {
    padding: 75px 0;
  }
  .leave-text {
    width: 709px;
  }
  .leave-content-wrapper {
    display: flex;
    gap: 32px;
    padding: 0 64px;
  }

  .leave-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    padding: 40px 20px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--color-green);
    background-image: url('../img/leave-app/leave-content-img.webp');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100%;
  }
  @media (min-resolution: 192dpi) {
    .leave-content {
      background-image: url('../img/leave-app/leave-content-img@2x.webp');
    }
  }
  .leave-form {
    margin: 0;
    flex-shrink: 0;
  }
  .leave-form-input-wrapper {
    margin-bottom: 32px;
  }
}
