/* ===== Reset indents ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ===== Typography ===== */
ul,
ol {
  list-style: none;
}

/* ===== Links ===== */
a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

/* ===== Images ===== */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===== Address ===== */
.address {
  font-style: normal;
}

/* ===== Forms ===== */
input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}
